<div class="tab-pane" id="users_projects">
	<h1>All Your Projects</h1>
	<div class="accordion" id="accordion-projects">

		<% @projects.each do |project| %>
			<div class="accordion-group">

				<div class="accordion-heading">
					<a class="accordion-toggle"
							data-toggle="collapse"
							data-parent="accordion-projects"
							href="#collapse<%=dom_id(project)%>">
								<strong><%= project.title %></strong>
					</a>
					<br />
				</div>

				<div id="collapse<%=dom_id(project)%>" class="accordion-body collapse">
					<div class="accordion-inner">
						<%= project.description %>
						<%= render 'collaborators/collaborator_form',
											 :project_id => project.id %>

						<%= render 'tasklists/form',
											 :project_id => project.id %>

						# tasklists extracted from here
						<%= render 'tasklists/tasklists',
											 :project => project %>
					  # tasklists extracted end

					</div>
				</div>

			</div>
		<% end %>

	</div>
</div>
