<%= render "projects/form", :project => project %>

<% @projects.each do |project| %>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle"
					data-toggle="collapse"
					data-parent="#accordion-projects"
					href="#collapse<%=dom_id(project)%>">
						<strong><%= project.title %></strong>
			</a>
		</div>

		<br />

		<div id="collapse<%=dom_id(project)%>" class="accordion-body collapse">
			<div class="accordion-inner">

				<div class="pull-right">
					<div class="btn-group dropdown">
		  			<button class="btn btn-small btn-primary">Add...</button>
						  <button class="btn dropdown-toggle btn-small btn-primary" data-toggle="dropdown">
						    <span class="caret"></span>
						  </button>
					  <ul class="dropdown-menu">
					    <li><a href="#new-tasklist<%= project.id %>" data-toggle="modal">New Tasklist</a></li>
					    <li><a href="#new-collaborator<%= project.id %>" data-toggle="modal">New Collaborator</a></li>
					  </ul>
					</div>
				</div>

				<blockquote>
					<p><%= project.description %></p>
				</blockquote>

				<%= render 'collaborators/collaborator_form',
           :project_id => project.id %>

				<%= render 'tasklists/tasklists',
									 :project => project %>

			</div>
		</div>

	</div>
<% end %>