<%= render "projects/form", :project => project %>

<% @projects.each do |project| %>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle"
					data-toggle="collapse"
					data-parent="#accordion-projects"
					href="#collapse<%=dom_id(project)%>">
						<strong><%= project.title %></strong>
			</a>
		</div>

		<br />

		<div id="collapse<%=dom_id(project)%>" class="accordion-body collapse">
			<div class="accordion-inner">
				<p><%= project.description %></p>

				<%= render 'collaborators/collaborator_form',
           :project_id => project.id %>

				<%= render 'tasklists/tasklists',
									 :project => project %>
			</div>
		</div>

	</div>
<% end %>